*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
js/node_modules/*

highscore-service/\.mvn/wrapper/

highscore-service/highscore-service\.iml
highscore-service/.idea/*
highscore-service/target/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

highscore-service/\.mvn/wrapper/

highscore-service/highscore-service\.iml

highscore-service/target/
